@import "src/styles/variables.scss";

.food-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100%;
  margin-top: 8rem;
  
  .wave-img {
    height: 150px;
    width: 90%;
  }

  .item-not-exist {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    height: 50vh;
    margin-top: 2rem;
  }

  .item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 80%;
    margin-top: 2rem;
    height: 100%;

    .left-side {  
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      height: 100%;

      .item-img {
        width: 100% ;
        height: 30vW;
        border-radius: 10px;
      }
    }

    .right-side {
      // border: 1px solid red;
      width: 50%;
      height: 55vh;
      padding: 0 0 0 2rem;

      .name-price {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .title {
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 1rem;
        }
        .item-price {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 1rem;
          padding-left: 1rem;
        }
      }

      .feature-image-part {
        .feature-image {
          border: 1px solid black;
          height: 35px;
          width: 35px;
          object-fit:contain;
          margin: 0.2rem;
          padding: 0.2rem;
          border-radius: 100%;
        }
      }

      .description {
        padding-top: 2rem;
        font-size: 1.1rem;
        text-align: justify;
      }
    }
  }
}

@media only screen and (max-width: 755px) {
  .food-item {
    margin-top: 6rem;
    
    .wave-img {
      height: 150px;
      width: 90%;
    }
  
    .item {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 90%;
      margin-top: 2rem;
  
      .left-side {
        // border: 1px solid red;
        width: 80%;
        height: auto;
        margin-bottom: 2rem;
  
        .item-img {
          width: 100% ;
          height: 30vW;
          border-radius: 10px;
        }
      }
  
      .right-side {
        // border: 1px solid red;
        width: 80%;
        height: auto;
        padding: 0 1rem 0 1rem;
  
        .name-price {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
  
          .title {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 1rem;
          }
          .item-price {
            font-size: 1.2rem;
            font-weight: 600;
            margin-bottom: 0rem;
            padding-left: 1rem;
          }
        }
  
        .description {
          padding-top: 1rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .food-item {
    margin-top: 6rem;
    
    .wave-img {
      height: 150px;
      width: 90%;
    }
  
    .item {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 90%;
      margin-top: 0.5rem;
  
      .left-side {
        width: 85%;
        height: auto;
        margin-bottom: 2rem;
  
        .item-img {
          width: 100% ;
          height: 30vW;
          border-radius: 10px;
        }
      }
  
      .right-side {
        // border: 1px solid red;
        width: 85%;
        height: auto;
        padding: 0 0.5rem 0 0.5rem;
  
        .name-price {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
  
          .title {
            font-size: 1.3rem;
            font-weight: 600;
            margin-bottom: 0.7rem;
          }
          .item-price {
            font-size: 1.05rem;
            font-weight: 600;
            margin-bottom: 0rem;
            padding-left: 0.7rem;
          }
        }
  
        .description {
          padding-top: 0.7rem;
          font-size: 1rem;
        }
      }
    }
  }
}