@import "src/styles/variables.scss";

.homepage-layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin-top: 8rem;

  .imageSlider-container {
    width: 94%;
    // height: 70vh;
    margin: auto;
  }

  .text-under-image {
    width: 86%;
    margin: auto;
    padding-top: 20px;

    .star-ad {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      font-size: 1.5rem;
      font-family: 'Qelistah', sans-serif;
      text-align: center;
      border: 5px solid $client-keys-color;
      padding: 2rem;
      margin: 3rem 0;
    }

    .bio {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: flex-start;
      width: 100%;
      font-size: 1rem;
      margin-bottom: 8rem;

      .bio-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem 0rem;
        font-family: 'Bastro', sans-serif;
      }
      .bio-text {
        margin: 0.3rem 0rem;
        max-Width: 100%;
        text-wrap: wrap;
        text-align: justify;
        text-indent: 1rem;
        line-height:1.7rem;
      }
    }

    .delivery {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 8rem 0;

      .delivery-imgs {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;

        .delivery-img {
          height: 100px;
          width: 100px;
          margin: 1rem;
          border-radius: 100%;
          border: none;
        }
      }
      .delivery-txt {
        font-size: 3rem;
        line-height: 5rem;
        font-weight: 600;
        font-family: 'KOBO', sans-serif;
        letter-spacing: 0.2rem;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .homepage-layout {
    width: 100vw;
    margin-top: 7rem;
    
    .text-under-image {
        width: 90%;
        margin: auto;
        padding-top: 10px;
    
        .star-ad {
          font-size: 1.3rem;
          border: 4px solid $client-keys-color;
          padding: 1.5rem;
          margin: 1rem 0;
        }
    
        .bio {
          width: 100%;
          font-size: 1rem;
          margin-bottom: 6rem;
    
          .bio-title {
            font-size: 1.3rem;
            font-weight: 600;
          }

          .bio-text {
            margin: 0.3rem 0rem;
            max-Width: 100%;
            text-indent: 1rem;
            line-height:1.7rem;
          }
        }
    
        .delivery {
          margin: 3rem 0;
    
          .delivery-imgs {
            width: 90%;
    
            .delivery-img {
              height: 80px;
              width: 80px;
              margin: 1rem;
            }
          }
          .delivery-txt {
            font-size: 2.5rem;
            line-height: 4rem;
            letter-spacing: 0.2rem;
          }
        }
      }
    }
}