.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  margin-top: 8rem;
  
  .title {
    font-size: 2rem;
    color: black;
    margin-top: 2rem;
  }

  .menu-design {
    // border: 2px solid red;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
    width: 70%;


    .menu-div {
      
      border: 3px solid tomato;
      padding: 1rem;
      font-size: 1rem;
      margin: 0.1rem;

      &:hover {
        font-size: 1.5rem;
        padding: 0.7rem;
        border-style: dotted;
        // background-color: tomato;
        // color: white;
      }
    }

    .menu-div-select {
      font-size: 1.5rem;
      padding: 0.7rem;
      border-style:dotted;
    }
  }
}