@import "../../styles/variables.scss";

.store-setting-page {
  margin: 3em;
  margin-top: 150px;
  
  .setting-info, .setting-slides{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid gray;
   
    .title {
      font-size: 1.2em;
      font-weight: 600;
    }

    .setting-form, .slide-form {
      padding: 2em;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      

      .input-group {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        
        margin-right: 1em;
        margin-bottom: 1em;
        width: 100%;
      }

      .description {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
      }

      .image-select {
        // border: $test2;
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 1em;
        padding-bottom: 1rem;
    
        .loading-image-sign {
          margin-left: 1em;
          margin-right: 1em;
        }

        .img-preview-part {
          margin-left: 1em;
          margin-right: 1em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        .img-preview {
          margin-left: 1em;
          margin-right: 1em;
        }
    
        .erase-image {
          cursor: pointer;
          &:hover {
            color: $admin-keys-color;
          }
        }
      }

      .input-name {
        margin-left: 0.5em;
        min-width: 245px;
        width: 245px;
      }

      .input-tel {
        margin-left: 4.5em;
        min-width: 245px;
        width: 245px;
      }

      .input-address {
        margin-top: 0.5em;
        margin-left: 0.5em;
        width: 80%;
        text-align: justify;
      }

      .slide-select {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 1rem;

        .loading-image-sign {
          margin-left: 1em;
          width: 200px;
        }
      }
    }

    .show-slides-part {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;

      .show-slide-row {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem 2rem;

        .slide-num {
          width: 80px;
          font-weight: 600;
          color: $admin-keys-color;
        }

        .img-del {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .slide-preview {
          height: 100px;
          width: 200px;
          border: 1px solid grey;
          margin-right: 1rem;
        }

        .erase-image {
          cursor: pointer;
          &:hover {
            color: $admin-keys-color;
          }
        }
      }
    }

    .slide-text {
      padding: 1rem;
      font-size: 1rem;
      font-style: italic;
    }
  }

  .buttons {
    margin-top: 1em;

    .btn-save, .btn-cancel {
      border: 0.2em solid $admin-keys-color;
      border-radius: 10px;
      width: 120px;
      background-color: $admin-keys-color ;
      color: white;
      cursor: pointer;
      font-size: 1.1em;
      padding: 0.5em 1em;
      vertical-align: middle;
      // white-space: nowrap;
      margin: 0.2em;
  
      &:hover, &:focus {
        outline: none;
        // background-color: #eb6663;
        border:0.2em solid $admin-keys-color-sec;
        border-radius: 10px;
        color: $admin-keys-color-sec;
      }
    }
  
    .deactive {
      &:hover, &:focus {
        outline: none;
        // background-color: #eb6663;
        border: 0.2em solid $admin-keys-color;
        border-radius: 10px;
        color: white;
        cursor:auto;
      }
    }
  }

  .btn-delete {
    border: none;
    background-color: transparent;
    font-size: 1.1em;
    color: black;
    cursor: pointer;

    &:hover, &:focus {
      outline: none;
      color: $admin-keys-color;
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid $admin-keys-color;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  color: $admin-keys-color;
  cursor: pointer;
  white-space: noWrap;

  &:hover {
    background-color: $admin-keys-color;
    color: white;
  }
}

@media only screen and (max-width: 960px) {
  .store-setting-page {
    margin: 2em;
    margin-top: 150px;
  
    .setting-info, .setting-slides{
  
      .setting-form, .slide-form {
      
        .input-address {
          min-width: 335px;
        }
      }

      .buttons {
        margin-top: 0.5em;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .store-setting-page {
    margin: 1em;
    margin-top: 150px;
  
    .setting-info, .setting-slides {
      .title {
        font-size: 1em;
        font-weight: 600;
      }
  
      .setting-form, .slide-form {
        padding: 1em;

        .input-group {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          margin-right: 0em;
        }

        .description {
          margin-top: 0.3em;
        }
  
        .image-select {

          .loading-image-sign {
            margin-left: 0.5em;
            margin-right: 0.5em;
          }
  
          .img-preview-part {
            margin-left: 0em;
            margin-right: 0em;
          }
      
          .img-preview {
            margin-left: 0.5em;
            margin-right: 0.5em;
          }
        } 
  
        .input-name {
          margin-top: 0.5em;
          margin-left: 0.5em;
        }
  
        .input-tel {
          margin-top: 0.5em;
          margin-left: 0.5em;
        }

        .input-address {
          margin-top: 0.5em;
          margin-left: 0.5em;
          width: 90%;
          min-width: 245px;   
        }

        .slide-select {  
          .loading-image-sign {
            margin-left: 0.5em;
            width: 60%;
            min-width: 60px;
          }
        }
      }

      .show-slides-part {
        margin-top: 0.5rem;
  
        .show-slide-row {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0.5rem 0.5rem;
  
          .slide-num {
            width: 80px;
            margin-bottom: 0.3rem;
            font-weight: 600;
            color: $admin-keys-color;
          }
  
          .slide-preview {
            height: 100px;
            width: 200px;
            border: 1px solid grey;
            margin-right: 1rem;
            margin-left: 1rem;
          }
  
          .erase-image {
            cursor: pointer;
            &:hover {
              color: $admin-keys-color;
            }
          }
        }
      }
  
      .btn-save, .btn-cancel {
        border: 0.2em solid $admin-keys-color;
        border-radius: 10px;
        width: 100px;
        background-color: $admin-keys-color;
        color: white;
        cursor: pointer;
        font-size: 1em;
        padding: 0.5em 1em;
        vertical-align: middle;
        // white-space: nowrap;
        margin: 0.2em;
    
        &:hover, &:focus {
          outline: none;
          // background-color: #eb6663;
          border:0.2em solid $admin-keys-color-sec;
          border-radius: 10px;
          color: $admin-keys-color-sec;
        }
      }
    }
    
  }

  .custom-file-upload {
    border: 1px solid $admin-keys-color;
    border-radius: 5px;
    font-size: 0.8em;
    display: inline-block;
    padding: 12px 6px;
    color: $admin-keys-color;
    cursor: pointer;
    white-space: Wrap;
  
    &:hover {
      background-color: $admin-keys-color;
      color: white;
    }
  }
}